<!--
<script src="https://giscus.app/client.js"
        data-repo="{{ site.Params.giscus.repo }}"
        data-repo-id="{{ site.Params.giscus.repoid }}"
        data-category="{{ site.Params.utteranc.category }}"
        data-category-id="{{ site.Params.giscus.categoryid }}"
        data-mapping="{{ site.Params.giscus.mapping }}"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="{{ site.Params.giscus.theme }}"
        data-lang="zh-CN"
        crossorigin="anonymous"
        data-loading="lazy"
        async>
</script>
-->
<script src="https://giscus.app/client.js"
        data-repo="uzvg/coffee-weekly"
        data-repo-id="R_kgDOJDzMBw"
        data-category="General"
        data-category-id="DIC_kwDOJDzMB84CUj5f"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>